/*
#2196F3 

 */
:root {
  --main-text-color: #757575;
  --
}

body {
  background-color: #ffffff;
  color: #212121;
}

.list {
  list-style: none;
}

.logo {
}

.link {
  text-decoration: none;
  color: inherit;
}
.firstpart-logo {
  color: #2196f3;
}
.lastpart-logo {
  color: #000000;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
